# Wordpress
wordpress/.htaccess
wordpress/wp-config.php
wordpress/wp-content/uploads/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/upgrade/
wordpress/wp-content/backup-db/
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/wp-cache-config.php
wordpress/sitemap.xml
wordpress/*.log
wordpress/wp-content/cache/
wordpress/wp-content/backups/
wordpress/sitemap.xml
wordpress/sitemap.xml.gz

# Node modules
node_modules/
npm-debug.log


# Bower components
components/

# Compiled assets
wordpress/wp-content/themes/lasse-stefanz/js/
wordpress/wp-content/themes/lasse-stefanz/style.css