/*
Theme Name: Lasse Stefanz
Author: LS Produktions AB
Author URI: http://www.lassestefanz.se
Description: A nice WordPress theme by <a href=http://www.lassestefanz.se>LS Produktions AB</a> built on Hobo Theme
Version: 1.0
Template: hobo-theme
*/

