// Bootstrap grid base
// -------------------------
// Use span base when extending from span mixins
.bs-grid-span-base() {
  float: left;
  min-height: 1px; // prevent collapsing columns
  margin-left: @gridGutterWidth;
}

// Unstyled lists
// -------------------------
.unstyled-list() {
  list-style: none;
  margin: 0;

  // Reset the list stack from here
  ul, ol {
    list-style: disc;
    margin: 0 0 @baseLineHeight / 2 25px;
  }
}

// Box module
// -------------------------
.box(@bgColor: @white, @color: @grayDarker, @linkColor: @orange, @padding: (.5 * @baseLineHeight)) {
  background-color: @bgColor;
  color: @color;
  .border-radius(2px);
  .box-shadow(0 2px 5px rgba(0, 0, 0, .8));

  padding: @padding;

  a {
    color: @linkColor;
    &:hover,
    &:focus {
      color: darken(@linkColor, 10%);
    }
  }
}