// Accessibility elements
// -------------------------
.skip-link {
    .hide();
}

// Unstyled lists
// -------------------------
ul.xoxo,
nav ul {
    .unstyled-list();
}

// Easy alignment
// -------------------------
.alignleft {
  float: left;
}
.alignright {
  float: right;
}

// Wordpress embedded image classes
// -------------------------
img.aligncenter {
  .center-block();
}
img.alignleft {
  margin-right: (2 * @rhythmUnit);
}
img.alignright {
  margin-left: (2 * @rhythmUnit);
}
/* Ensure space for content next to left/right aligned images */
img.alignleft,
img.alignright {
  max-width: 50%;
}

// Overflow text with ellipsis
// -------------------------
.text-overflow {
  .text-overflow();
}
