
// Archive base
// -------------------------
body.archive {

  /* Page header */
  .page-header {
    .column(12);
  }

  /* Navigation */
  #nav-above {
    .hide();
  }

}

// Category archives
// -------------------------
body.archive.category,
body.archive.tag,
body.archive.author {

  /* Page-menu (replaces hover sub-menu for touch devices) */
  #content .page-menu {
    background-color: mix(@black, @grayDarker, 50%);
    .gradient(~"linear-gradient(top, @{grayDarker} 0%, @{black} 100%)");
    .box-shadow(0 1px 4px rgba(0,0,0,.065));

    /* Center */
    max-width: @SingularMaxWidth;
    margin: 0 auto @rhythmUnit;

    /* Hide on non-touch devices */
    html.no-touch & {
      .hide();
    }

    /* Center menu items */
    .sub-menu {
      text-align: center;
    }

    /* Menu items */
    .sub-menu .menu-item {
        display: inline-block;
        padding: @rhythmUnit;

        // Menu item buttons
        > a {
            color: @grayLight;

            text-align: center;
            text-decoration: none;
            text-shadow: rgba(0,0,0,.6) 0 1px 2px;

            .transition(~"color 200ms linear");

            // Hover style
            &:hover,
            &:focus {
                color: @linkColor;
            }
        }

        // Current menu item highlight
        &.current-menu-item a,
        &.current-menu-parent a,
        &.current-menu-ancestor a {
            color: @linkColor;
        }
    }

  }

  /* Entry content */
  .hentry {
    .box();

    /* Column layout */
    .column(4);
    margin-bottom: (2 * @rhythmUnit);

    /* Clear rows */
    &:nth-child(3n) {
      clear: left;
    }

    .entry-utility {
      .mute();
      border-top: 1px solid @grayLighter;

      padding-top: @rhythmUnit;

      .smallFont();
    }
  }

}

// Event archives
// Includes the tour map
// -------------------------
body.archive.post-type-archive-event {
  #content,
  #map {
    .column(6);
  }

  /* Events list */
  .eo-events {

    li {
      @backgroundStart:   darken(@red, 15%);
      @backgroundEnd:     darken(@red, 25%);

      background-color: mix(@backgroundStart, @backgroundEnd, 50%);
      .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
      color: @textColor;
      .border-radius(@baseBorderRadius);

      /* Larger text */
      font-size: @largeFont;
      line-height: (5 * @rhythmUnit);

      /* Position container */
      padding: 0 (2 * @rhythmUnit);
      margin-bottom: 1px;

      .date {
        display: inline-block;
        min-width: (10 * @rhythmUnit);
      }
    }
  }

  /* Tour map */
  #map {
    .box();
  }
}
