// Base colors and type
// -------------------------
body {
    background-color: @backgroundColor;
    color: @textColor;

    font-family: @baseFontStack;
}
a {
    color: @linkColor;

    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus {
        color: @linkHoverColor;
    }
}

// Reset style on linked headers
// -------------------------
h1, h2, h3, h4, h5 {
    a {
        color: inherit;
        font-weight: normal;
    }
}

// Autosize all images
// -------------------------
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

// Background graphic
// -------------------------
body {
    background-image: url('images/dark-wood.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
           only screen and (min-resolution: 144dpi) {
        background-image: url('images/dark-wood-@2x.png');
        background-size: 512px; // half actual size
    }
}

// Reset figures
// -------------------------
figure {
    margin: 0;
}

// Wrapper
// -------------------------
#wrapper {

    // We need this for absolutely positioned header and hero
    position: relative;

    // Set a max content width
    max-width: 1200px;
    .center-block();

    // Push #main below #header (or #hero, if present)
    padding-top: @headerHeight;
    body.has-hero & {
        padding-top: (@heroHeight + @heroTopMargin);
    }

    margin-bottom: (4 * @rhythmUnit);
} // #wrapper

body {
    .fixTransitionFlicker();
}
