
// Comments base
// -------------------------
#comments {

}

#respond {
  box-sizing: border-box;
  padding: (2 * @rhythmUnit);

  position: relative;
  max-width: @contentMaxWidth;
  margin: 0 auto;
}