
// Gigs
// -------------------------

#gigs {
  @titleWidth:    260px;

  .column(12);

  position: relative;
  top: -@rhythmUnit;

  .flexslider {

    @backgroundStart:   darken(@red, 15%);
    @backgroundEnd:     darken(@red, 25%);

    background-color: mix(@backgroundStart, @backgroundEnd, 50%);
    .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
    color: @textColor;
    .border-radius(@baseBorderRadius);

    /* Remove default border */
    border: none;

    /* Larger text */
    font-size: @largeFont;
    line-height: (5 * @rhythmUnit);

    /* Position container */
    overflow: hidden;
    padding: 0 0 0 @titleWidth;
    margin: 0;
    height: (5 * @rhythmUnit);

    /* Remove default margin on items */
    li {
      margin: 0;

      a {
        z-index: 101;
      }
    }

    /* Content container */
    .eo-event-content {
      border-left: 1px solid @backgroundStart;
      border-right: 1px solid @backgroundEnd;
      padding: 0 @rhythmUnit;
    }
  }



  z-index: 99;

  h1 {

    @backgroundStart:   @backgroundColor;
    @backgroundEnd:     darken(@backgroundColor, 10%);

    background-color: mix(@backgroundStart, @backgroundEnd, 50%);
    .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
    color: @textColor;
    border-right: 1px solid darken(@backgroundColor, 10%);
    .border-top-left-radius(@baseBorderRadius);
    .border-bottom-left-radius(@baseBorderRadius);

    /* Position title */
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: @titleWidth;
    height: (5 * @rhythmUnit);

    /* Override default type */
    font-size: @largeFont;
    line-height: (5 * @rhythmUnit);
    text-transform: uppercase;
    text-align: center;

    .text-overflow();
  }

  /* Generate a caret after date */
  .date:after {
    content: " \203A";
  }

}
