
// Gigs
// -------------------------

#gigs {
  .column(12);

  position: relative;
  top: (-2 * @rhythmUnit);

  .flexslider {
    @backgroundStart:   darken(@red, 15%);
    @backgroundEnd:     darken(@red, 25%);

    background-color: mix(@backgroundStart, @backgroundEnd, 50%);
    .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
    color: @textColor;
    .border-top-left-radius(0);
    .border-bottom-left-radius(0);

    border: none;

    float: left;
    box-sizing: border-box;
    padding: (.5 * @rhythmUnit) 0 0 0;
    margin: 0;
    height: (5 * @rhythmUnit);
    width: 80%;

    /* Padding on items */
    li {
      box-sizing: border-box;
      padding: 0 (.5 * @rhythmUnit);
    }
  }

  h1 {
    @backgroundStart:   @backgroundColor;
    @backgroundEnd:     darken(@backgroundColor, 10%);

    background-color: mix(@backgroundStart, @backgroundEnd, 50%);
    .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
    color: @textColor;
    border-right: 1px solid darken(@backgroundColor, 10%);
    .border-top-left-radius(@baseBorderRadius);
    .border-bottom-left-radius(@baseBorderRadius);

    float: left;
    box-sizing: border-box;
    padding: 0 (2 * @rhythmUnit);
    margin: 0;
    width: 20%;
    height: (5 * @rhythmUnit);

    font-size: @largeFont;
    line-height: (5 * @rhythmUnit);
    text-transform: uppercase;
  }

  /* Venue on separate row with text-overflow */
  .venue {
    display: block;
    .text-overflow();
  }

  /* Generate a comma after city */
  .city:after {
    content: ",";
  }

}
