
// Gigs
// -------------------------

#gigs {
  .clearfix();
  margin-bottom: (2 * @rhythmUnit);
  position: relative;

  h1 {
    @backgroundStart:   @backgroundColor;
    @backgroundEnd:     darken(@backgroundColor, 10%);

    background-color: mix(@backgroundStart, @backgroundEnd, 50%);
    .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
    color: @textColor;
    border-right: 1px solid darken(@backgroundColor, 10%);
    .border-top-left-radius(@baseBorderRadius);
    .border-bottom-left-radius(@baseBorderRadius);

    font-size: @largeFont;
    line-height: (4 * @rhythmUnit);
    text-transform: uppercase;

    position: absolute;
    top: 0;
    left: 1.0416666666666665%;
    padding: 0 (2 * @rhythmUnit);
    margin: 0;
    width: 10em;
  }

  .eo-events {
    @backgroundStart:   darken(@red, 15%);
    @backgroundEnd:     darken(@red, 25%);

    background-color: mix(@backgroundStart, @backgroundEnd, 50%);
    .gradient(~"linear-gradient(top, @{backgroundStart} 0%, @{backgroundEnd} 100%)");
    color: @textColor;
    .border-radius(@baseBorderRadius);

    .unstyled-list();
    font-size: @largeFont;
    line-height: (4 * @rhythmUnit);

    .column(12);

    li {
      display: inline-block;
      margin-right: 2em;

      &:first-child {
        margin-left: 14em;
      }
    }
  }
}