
// Header base
// -------------------------

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: @headerHeight;

    .inner {
        position: relative;
    }
}

// Branding
// -------------------------

#branding {
    position: absolute;
    z-index: 20;
    top: (2 * @rhythmUnit);
    left: 50%;
    width: @logoWidth; // same as logo
    margin-left: (-.5 * @logoWidth);

    text-align: center;

    // Centered logo replaces title
    #site-title {
        margin: 0;
    }
    #site-title a {
        background-image: url('images/lslogo-whiteleather.png');

        display: block;
        height: @logoHeight;
        width: @logoWidth;

        .hide-text();
        text-decoration: none !important;

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
               only screen and (min-resolution: 144dpi) {
            background-image: url('images/lslogo-whiteleather-@2x.png');
            background-size: 346px 197px; // half actual size
        }
    }

    // Centered tagline below logo
    #site-description {
        background: @black;
        .border-radius(@smallBorderRadius);
        .opacity(80);

        display: inline;
        padding: .1em .5em;
        margin-top: @rhythmUnit;

        cursor: default;

        font-family: @altFontFamily;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: rgba(0,0,0,.6) 0 1px 2px;
        letter-spacing: 2px;
    }
}


// Navigation
// -------------------------
#access {
    position: absolute;
    z-index: 10;
    top: 150px;
    right: (2 * @rhythmUnit);
    left: (2 * @rhythmUnit);

    /* Menu bar base */
    .nav-menu {
        background-color: mix(@black, @grayDarker, 50%);
        .gradient(~"linear-gradient(top, @{grayDarker} 0%, @{black} 100%)");
        .box-shadow(0 1px 4px rgba(0,0,0,.065));

        position: absolute;

        /* Menu item positioning */
        .menu >.menu-item {
            display: inline-block;
        }
    }

    /* Left menu bar */
    #menu-left {
        .border-top-left-radius(@baseBorderRadius);
        .border-bottom-left-radius(@baseBorderRadius);

        right: 50%;
        left: 0;
        padding-right: ((.5 * @logoWidth) + @rhythmUnit);

        /* Align buttons to the right */
        .menu {
            text-align: right;

            /* Align sub-menus to the left */
            .sub-menu {
                text-align: left;
            }
        }
    }

    /* Right menu bar */
    #menu-right {
        .border-top-right-radius(@baseBorderRadius);
        .border-bottom-right-radius(@baseBorderRadius);

        right: 0;
        left: 50%;
        padding-left: ((.5 * @logoWidth) + @rhythmUnit);
    }
}

/* First level items */
#access .nav-menu .menu {

    /* Menu items */
    > .menu-item {
        padding: @rhythmUnit;

        // Menu item buttons
        > a {
            color: @grayLight;

            font-family: @altFontFamily;
            font-size: @largeFont;
            font-weight: bold;

            letter-spacing: 2px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: rgba(0,0,0,.6) 0 1px 2px;

            .transition(~"color 200ms linear");

            // Hover style
            &:hover,
            &:focus {
                color: @linkColor;
            }
        }
    }

    // Current menu item highlight
    > .current-menu-item a,
    > .current-menu-parent a,
    > .current-menu-ancestor a {
        color: @linkColor;
    }
}

/* Second level items */
#access .nav-menu .sub-menu {
    .unstyled-list();

    /* Inverse colors */
    background-color: @backgroundColor;
    html.rgba & {
        background-color: fade(@backgroundColor, 80%);
    }
    color: @grayLighter;
    // .gradient(~"linear-gradient(top, @{grayDarker} 0%, @{black} 100%)");
    .box-shadow(0 1px 4px rgba(0,0,0,.065));
    .border-radius(@baseBorderRadius);

    position: absolute;
    padding: @rhythmUnit;

    a {
        color: inherit;

        display: block;
        padding: (.5 * @rhythmUnit) 0;

        &:hover {
            color: @linkHoverColor;
        }
    }
}

/* Second level hover behavior */
#access .nav-menu .menu-item .sub-menu {
    display: none;
}
#access .nav-menu .menu-item:hover .sub-menu {
    html.no-touch & {
        display: block;
    }
}
