
// Hero base
// -------------------------
#hero {
    position: absolute;
    top: @heroTopMargin;
    right: 0;
    left: 0;
    height: @heroHeight;
}

// Woo slider
// -------------------------
#hero .flexslider {
    background: none;
    border: none;
    .border-radius(@largeBorderRadius);

    min-height: @heroHeight;
    margin-bottom: 0;

    ul.slides {
        &, li {
            min-height: @heroHeight;
            min-width: @heroWidth;
        }
    }

    .slide-content {
        background-position: center center;
        background-size: cover;
        border: 1px solid @black;
        .border-radius(@largeBorderRadius);
        .box-shadow(inset 0 1px 3px rgba(0,0,0,.8));

        min-height: @heroHeight;
        margin: 0;
        display: block;

        position: relative;

        .slide-title {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;

            &, & a {
                text-shadow: 0 1px 3px black;
                html.rgba & {
                    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
                }
                color: white;
            }


        }
    }
}
