body.post-type-archive-song {

    #content {
        .box();
        padding: (4 * @rhythmUnit);

        ul {
            .unstyled-list();

            .columns();

            a {
                color: @backgroundColor;

                &:hover {
                  color: @linkHoverColor;
                }
            }

            li {

                &.header {
                    margin: (2 * @rhythmUnit) 0 0;

                    h2 {
                        margin: 0;
                    }
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

}
