// Widgets base
// -------------------------
.widget-container {
    margin-bottom: (2 * @rhythmUnit);

    .widget-title {
        margin-top: 0;
    }
}

// SP Image Widget
// -------------------------
.widget-container.widget_sp_image {

  /* Square and portrait fill 3 cols */
  &.size-ls_square_banner_image,
  &.size-ls_portrait_banner_image {
    .column(3, 6);
  }

  /* Landscape fills 6 cols */
  &.size-ls_landscape_banner_image {
    .column(6, 6);
  }

  /* Right aligned banners */
  &.size-ls_square_banner_image,
  &.size-ls_portrait_banner_image,
  &.size-ls_landscape_banner_image {
    margin-top: @rhythmUnit;
    margin-bottom: @rhythmUnit;

    &.alignright {
      float: right;
    }
  }

  /* Remove extra whitespace below inline images */
  img {
    display: block;
  }

  /* Hover fx on linked images */
  a {
    background-color: @linkColor;
    .border-radius(@baseBorderRadius);
    .box-shadow(0 2px 5px rgba(0, 0, 0, .8));

    display: block;
    height: 100%;

    /* Animate the effect */
    img {
      .transition(~"opacity 100ms linear");
    }
  }
  a:hover img {
    .opacity(.8);
  }

}
