// Widgets base
// -------------------------
.widget-container {
    margin-bottom: (2 * @rhythmUnit);

    .widget-title {
        margin-top: 0;
    }
}

// SP Image Widget
// -------------------------
.widget-container.widget_sp_image {

  /* Square and portrait fill 3 cols */
  &.size-ls_square_banner_image,
  &.size-ls_portrait_banner_image {
    .column(3, 6);
    margin-bottom: @rhythmUnit;
  }

  /* Landscape fills 6 cols */
  &.size-ls_landscape_banner_image {
    .column(6, 6);
    margin-bottom: @rhythmUnit;
  }

  /* Rounded corners and box shadow on images */
  img {
    .border-radius(@baseBorderRadius);
    .box-shadow(0 2px 5px rgba(0, 0, 0, .8));
  }

  &:hover {
    position: relative;

    &:after {
      content: ' ';

      background-color: fade(@linkColor, 10%);
      .border-radius(@baseBorderRadius);
      .box-shadow(inset 0 -2px 5px rgba(0, 0, 0, .8));

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      cursor: pointer;
    }
  }

}
