// Widgets base
// -------------------------
.widget-container {
    margin-bottom: (2 * @rhythmUnit);

    .widget-title {
        margin-top: 0;
    }
}

.widget_sp_image {
    float: left;
    margin: 0 22px 22px 0;
}
